:root {
    --primary-color: #5422AA;
    --secondary-color: #D90368;
    --background-color: #fff;
    --background-color-alpha: #ffffff88;
    --background-hover: #B798EB;
    --nav-color: #fff;
    --gallery-bg: #eee;
    --nav-hover: #eee;
    --text: #32322C;
    --borders: #32322C;
    --blend: linear-gradient(to left, var(--primary-color), var(--secondary-color));
    --blend-right: linear-gradient(to left, var(--primary-color), var(--secondary-color) 25%);
    --hover: drop-shadow(0px 0px 5px var(--secondary-color));

    --drop: rgba(0, 0, 0, 0.1);
}


@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #8755DD !important;

        --secondary-color: #D90368;

        --background-color: #111 !important;
        --background-color-alpha: #11111188 !important;
        --background-hover: #2A1155;

        --gallery-bg: #111 !important;

        --nav-color: #111 !important;
        --nav-hover: #222 !important;

        --text: #F8F7F9 !important;
        --borders: #F8F7F9 !important;

        --blend: linear-gradient(to left, var(--primary-color), var(--secondary-color));
        --blend-right: linear-gradient(to left, var(--primary-color), var(--secondary-color) 25%);
        --hover: drop-shadow(0px 0px 5px var(--secondary-color));

        --drop: rgba(255, 255, 255, 0.1) !important;
    }
}

.container-fluid {
    max-width: 2000px !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--text);
}

.container-fluid {
    max-width: 2000px !important;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background-color) !important;
    display: flex;
    color: var(--text) !important;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

a,
a:hover {
    text-decoration: none !important;
    color: var(--text) !important;
}

.gradient-border {
    border-image-source: var(--blend);
    border-image-slice: 1;
}

main {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

.h100 {
    height: 100% !important;
}

.d1 {
    filter: drop-shadow(1px 1px 1px var(--drop))
}

.d2 {
    filter: drop-shadow(2px 2px 2px var(--drop))
}

.title {
    font-weight: 600;
    font-size: larger;
    color: var(--secondary-color);
}

.title-smaller {
    font-weight: 600;
    font-size: large;
    color: var(--secondary-color);
}

.subtitle {
    font-size: small;
}