
admin/include/db_connect.php
admin/include/mailhandler.php
admin/include/pepper.php

upload/

**/.fleet/**
**/.idea/**
**/.vscode/**
**/.github/**

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

database/seeders/old_data/

*.pem

package-lock.json

# docker specific
docker/db-data/*
docker/logs/*