@use 'root/root';
@use "components/banner";
@use 'components/socials';
@use 'components/navbar';
@use 'components/content';
@use 'components/blog';
@use 'components/profile';
@use 'components/carousel';
@use 'components/table';
@use 'components/artists';
