:root {
  --font-size-nav: 1.2rem;
  --font-size-page-title: 1.5rem;
  --font-size-text-title: 1.2rem;
  --font-size-text-subtitle: 1rem;
  --font-size-text: 1.1rem;
  /* color themes are in /public/asses/css/theme */
}

html, body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}

.stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  max-width: 2000px;
}

a {
  text-decoration: none !important;
  color: var(--foreground) !important;
}

p > a {
  text-decoration: underline !important;
}
p > a:hover {
  color: var(--secondary-color) !important;
}

.banner-stack {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: var(--banner-image);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--primary);
}
@media screen and (max-width: 700px) {
  .banner-stack {
    justify-content: center;
    flex-direction: column;
    padding: 0.5vw;
    height: auto;
  }
}

.banner-logo {
  height: 90%;
  margin-left: 1rem;
  object-fit: contain;
}

.banner-logo-img {
  max-height: 100%;
  height: 100% !important;
}
@media screen and (max-width: 700px) {
  .banner-logo-img {
    max-height: 15vh !important;
  }
}

.banner-action-link {
  background: var(--background-alpha);
  backdrop-filter: blur(10px);
  object-fit: contain;
  margin-right: 1rem;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary);
}
@media screen and (max-width: 700px) {
  .banner-action-link {
    display: none;
  }
}

.banner-action-link-mobile {
  display: none;
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--secondary);
  padding-top: 0.5vw;
}
@media screen and (max-width: 700px) {
  .banner-action-link-mobile {
    display: flex;
  }
}
.banner-action-link-mobile > div {
  font-size: 2.5vh;
  padding: 0.5vw;
}

.banner-action-link-img {
  height: 100%;
}

.socials-stack {
  height: 5vh !important;
  min-height: 40px;
  border-bottom: 2px solid var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1260px) {
  .socials-stack {
    height: 10vh !important;
    min-height: 55px !important;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.socials-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.socials-icon-wrapper {
  height: 80%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
@media screen and (max-width: 700px) {
  .socials-icon-wrapper {
    margin-right: 0.7rem;
  }
}

.socials-icon-box {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  width: 100% !important;
}
.socials-icon-box:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: var(--background);
  z-index: 5;
  content: "";
}
.socials-icon-box:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: var(--primary);
  border-radius: 20%;
  height: 100% !important;
  width: 100% !important;
  content: "";
}

.socials-icon {
  height: 60%;
  aspect-ratio: 1/1;
  z-index: 10;
  filter: invert(1);
}

.navbar-stack {
  height: 4.5vh;
  min-height: 45px;
}
.navbar-stack:after {
  position: relative;
  display: flex;
  width: 100%;
  height: 15px;
  background: linear-gradient(180deg, var(--background), transparent);
  content: "";
  z-index: 10;
}
@media screen and (max-width: 700px) {
  .navbar-stack {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 700px) and (max-width: 1260px) {
  .navbar-stack {
    display: none;
    visibility: hidden;
  }
}

.navbar-row {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
}

.navbar-main-button {
  border-right: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-main-button:hover {
  background: var(--hover);
}

.navbar-main-dropdown-button {
  border-right: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-main-dropdown-button:hover {
  background: var(--hover);
}
.navbar-main-dropdown-button {
  position: relative;
}
.navbar-main-dropdown-button:hover > .navbar-dropdown-wrapper {
  visibility: visible;
}
.navbar-main-dropdown-button > .navbar-dropdown-wrapper {
  top: 100%;
}

.navbar-dropdown-wrapper {
  background: var(--background-alpha);
  visibility: hidden;
  position: absolute;
  left: -1px;
  width: 200%;
  z-index: 2000;
  backdrop-filter: blur(10px);
}
.navbar-dropdown-wrapper:hover {
  visibility: visible !important;
}

.navbar-dropdown-flex {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.navbar-dropdown-button {
  border-right: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-dropdown-button:hover {
  background: var(--hover);
}
.navbar-dropdown-button {
  align-items: flex-start;
  height: 3vh;
  border: 0 !important;
}

.navbar-nav-link {
  color: var(--foreground);
  font-size: var(--font-size-nav);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-dropdown-link {
  color: var(--foreground);
  font-size: var(--font-size-nav);
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.content-scroll {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}

.content-page-title {
  color: var(--secondary);
  font-size: var(--font-size-page-title);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.content-footer-stack {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--primary);
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.content-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.content-footer-item {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media screen and (min-width: 700px) and (max-width: 1260px) {
  .content-footer-item {
    max-width: 40vw;
  }
}
@media screen and (max-width: 700px) {
  .content-footer-item {
    max-width: 50vw;
  }
}

.content-footer-title {
  font-weight: bold;
}

.content-footer-link {
  font-weight: bold;
  cursor: pointer;
}

.content-footer-divider {
  width: 1px;
  height: 80%;
  border-right: 2px solid var(--foreground);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.content-divider {
  width: 100% !important;
  height: 1px;
  border-bottom: 1px solid var(--primary);
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

.blog-post {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1.5rem;
}
.blog-post > .blog-post-text-stack {
  padding-left: 1rem;
}
@media screen and (max-width: 700px) {
  .blog-post {
    flex-direction: column;
  }
  .blog-post > .blog-post-text-stack {
    padding-left: 0;
  }
}

.blog-post-alt {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
}
.blog-post-alt > .blog-post-text-stack {
  padding-right: 1rem;
  align-items: end;
}
@media screen and (max-width: 700px) {
  .blog-post-alt {
    flex-direction: column !important;
  }
  .blog-post-alt > .blog-post-text-stack {
    padding-right: 0;
    align-items: unset;
  }
}

.blog-post-image-stack {
  max-width: 40%;
  width: 40%;
}
@media screen and (max-width: 700px) {
  .blog-post-image-stack {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.blog-post-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.blog-post-image-copyright {
  font-size: var(--font-size-text-subtitle);
  font-style: italic;
}

.blog-post-text-stack {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media screen and (max-width: 700px) {
  .blog-post-text-stack {
    width: 100% !important;
  }
}

.blog-post-title {
  color: var(--primary);
  font-size: var(--font-size-text-title);
  font-weight: 600;
}

.blog-post-subtitle {
  font-size: var(--font-size-text-subtitle);
}

.blog-post-text-divider {
  margin-top: 0.15rem;
  margin-bottom: 0.25rem;
  width: 100% !important;
  height: 1px;
  border-bottom: 1px solid var(--foreground);
}

.profile-stack {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (max-width: 700px) {
  .profile-stack {
    max-width: 100%;
    width: 100%;
  }
}

.profile-row {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 700px) {
  .profile-row {
    flex-direction: column !important;
  }
}

.profile-image-stack {
  max-width: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .profile-image-stack {
    max-width: 100%;
    width: 100%;
  }
}

.profile-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto auto 0;
  object-fit: cover;
}

.profile-image-resize {
  width: 100%;
  height: 92%;
}

.profile-content-stack {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 70%;
  max-width: 70%;
  height: 92%;
  max-height: 92%;
}
@media screen and (max-width: 700px) {
  .profile-content-stack {
    max-width: 100%;
    width: 100%;
  }
}

.profile-header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-socials-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.profile-title-stack {
  display: flex;
  flex-direction: column;
}

.profile-title {
  color: var(--primary);
  font-size: var(--font-size-text-title);
  font-weight: 600;
}

.profile-subtitle {
  font-size: var(--font-size-text-subtitle);
}

.profile-text {
  font-size: var(--font-size-text);
}

.profile-grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-text-divider {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100% !important;
  height: 1px;
  border-bottom: 1px solid var(--foreground);
}

.profile-gallery-container {
  width: 100%;
  height: 40vh;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background: var(--background-alpha);
}
.carousel-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  backdrop-filter: blur(10px);
  content: "";
  z-index: 15;
}
.carousel-container:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  backdrop-filter: blur(10px);
  content: "";
  z-index: 15;
}

.carousel-scroll {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}

.carousel-image-slide {
  position: relative;
  flex: 0 0 100%;
  counter-increment: item;
  list-style-type: none;
}

.carousel-snapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto 0;
  object-fit: cover;
}

.carousel-prev {
  position: absolute;
  top: calc(50% - 1.5vw);
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  background: var(--hover);
  z-index: 50;
  object-fit: cover;
  left: 15%;
}

.carousel-next {
  position: absolute;
  top: calc(50% - 1.5vw);
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  background: var(--hover);
  z-index: 50;
  object-fit: cover;
  right: 15%;
}

.click-through {
  pointer-events: none;
}

.no-visuals {
  color: transparent;
  background: transparent;
}

.chevron-left:before {
  position: absolute;
  content: "";
  background: var(--primary);
  left: 47%;
  right: 47%;
  height: 41%;
  width: 11%;
  top: 10%;
  transform: skew(-20deg, 0deg);
}
.chevron-left:after {
  position: absolute;
  content: "";
  background: var(--primary);
  left: 47%;
  right: 47%;
  height: 41%;
  width: 11%;
  top: 50%;
  transform: skew(20deg, 0deg);
}

.chevron-right:before {
  position: absolute;
  content: "";
  background: var(--primary);
  left: 47%;
  right: 47%;
  height: 41%;
  width: 11%;
  top: 10%;
  transform: skew(20deg, 0deg);
}
.chevron-right:after {
  position: absolute;
  content: "";
  background: var(--primary);
  left: 47%;
  right: 47%;
  height: 41%;
  width: 11%;
  top: 50%;
  transform: skew(-20deg, 0deg);
}

.carousel-collapse {
  position: fixed;
  top: 10vh;
  right: 10vw;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background: var(--background-alpha);
  z-index: 20000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.carousel-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(50px);
}

.carousel-expand {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  background: transparent;
  cursor: pointer;
  z-index: 200;
}

.carousel-expand-navigate {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  background: transparent;
  cursor: pointer;
  z-index: 200;
}

.checkbox-hidden {
  position: fixed;
  top: 50px;
  left: 50px;
}

.hide-show {
  visibility: collapse;
}

input[type=checkbox]:checked ~ .hide-show {
  visibility: visible !important;
}

.table-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.table-scroll {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.table-stack {
  display: flex;
  flex-direction: column;
}

.table-link {
  text-decoration: underline !important;
}

.table-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.table-action {
  border: 1px solid var(--primary);
  padding: 0.5rem;
  border-radius: 0.15rem;
}

.action-active {
  background: var(--primary-alpha);
}

@media only screen and (max-width: 900px) {
  .table-main {
    display: none;
  }
}
.table-main > tbody > tr {
  vertical-align: top;
  border-bottom: 2px solid var(--primary-alpha);
  height: 100%;
}
.table-main > tbody > tr > td {
  padding: 0.25rem;
  height: inherit;
  max-width: 30% !important;
}
.table-main > tbody > tr > td > a {
  display: block;
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
  padding: 0.5rem 0;
}
.table-main > tbody > tr > td > div {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  padding: 0.5rem 0;
}
.table-main > tbody > tr > td > div > div {
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.table-main > tbody > tr:hover {
  background: var(--hover);
}
.table-main > thead {
  position: sticky;
  top: 1px;
  background: var(--background-alpha);
  backdrop-filter: blur(15px);
  filter: drop-shadow(0px 1px 0px var(--primary));
}
.table-main > thead > tr > th {
  padding: 1rem 0.25rem;
}

@media only screen and (min-width: 900px) {
  .table-mobile {
    display: none !important;
  }
}
.table-mobile > a:hover {
  background: var(--hover);
}
.table-mobile {
  display: flex;
  flex-direction: column;
}
.table-mobile > .mobile-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border: 2px solid var(--primary-alpha);
}
.table-mobile > .mobile-item > .mobile-header {
  font-size: var(--font-size-text-subtitle);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--border);
}
.table-mobile > .mobile-item > .mobile-header > .mobile-header-text {
  font-weight: 1000;
}
.table-mobile > .mobile-item > .mobile-header > .mobile-header-tags {
  font-weight: 400;
}
.table-mobile > .mobile-item > .mobile-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-mobile > .mobile-item > .mobile-text > .mobile-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  font-weight: 500;
  border-top: 1px solid var(--border);
}
.table-mobile .table-wheelchair-icon {
  max-height: 50%;
  aspect-ratio: 1/1;
}

.artist-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 700px) {
  .artist-stack {
    flex-direction: column !important;
  }
}

.artist-card {
  display: flex;
}
.artist-card > :hover {
  filter: drop-shadow(2px 2px 2px var(--primary));
}
@media screen and (max-width: 700px) {
  .artist-card {
    width: auto !important;
  }
}

.artist-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--background);
  max-width: 100%;
  max-height: 100%;
  justify-content: space-between;
  border: 1px solid var(--primary);
  aspect-ratio: 1/1;
  padding: 0.25rem;
}

.artist-card-title {
  font-size: var(--font-size-text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
  display: flex;
}

.artist-card-footer {
  font-size: var(--font-size-text-subtitle);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
  display: flex;
}

.artist-card-image-wrapper {
  height: 80% !important;
  max-width: 100% !important;
}

.artist-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 80%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.error-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-image-wrapper {
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-image-wrapper > img {
  height: 100%;
}

.map-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.map-overview-global-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.map-buttons {
  display: flex;
  gap: 1rem;
}

.map-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden !important;
}
.map-reset {
  cursor: pointer;
  display: flex;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.map-reset:hover {
  background: var(--hover);
}

.map-overview-wrapper {
  aspect-ratio: 1/1;
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
  background: var(--background);
}
.map-overview-wrapper > img {
  width: 95%;
  object-fit: cover;
}
.map-overview-wrapper:hover {
  filter: drop-shadow(2px 2px 2px var(--primary));
}

.nav-mobile-hamburger {
  display: none;
  height: 80% !important;
  max-height: 80% !important;
  aspect-ratio: 1/1;
  position: relative;
  background: var(--primary);
  border-radius: 20%;
}
@media screen and (max-width: 1260px) {
  .nav-mobile-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#menu-btn {
  display: none;
}

#menu-btn:checked ~ .nav-mobile-menu {
  display: flex;
}

.nav-mobile-menu {
  display: none;
  z-index: 99999;
  position: absolute;
  top: 55px;
  left: 0;
  min-height: calc(90vh - 55px);
  max-height: 90vh;
  backdrop-filter: blur(10px);
  width: 100vw;
  overflow: hidden;
}

.mobile-menu-stack {
  flex-grow: 1;
  margin: 0 0.75rem;
  background-color: var(--background-dark-alpha);
  border: 1px solid var(--primary);
  overflow: scroll;
}

.mobile-item, .mobile-nav-header, .mobile-nav-button {
  display: flex;
  padding: 0.5rem;
}

.mobile-link, .mobile-sub-link, .mobile-nav-link {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 0.5rem;
}

.mobile-nav-button {
  border-bottom: 1px solid var(--primary);
}

.mobile-nav-header {
  justify-content: center;
  border-bottom: 1px solid var(--primary-alpha);
}

.mobile-sub-link {
  padding-right: 1rem;
}

.mobile-nav-separator {
  border-bottom: 1px solid var(--primary);
}

/*# sourceMappingURL=main.css.map */
