@use "../root/flex";
@use "../root/spacing";
@use "../root/text";

.artist-card{
    display: flex;
    margin-right: spacing.$medium;

    >:hover{
        filter: drop-shadow(2px 2px 2px var(--primary));
    }
}

.artist-card-content{
    @include flex.flex-col;
    flex-grow: 1;
    background: var(--background);

    max-width: 100%;
    max-height: 100%;

    justify-content: space-between;
    border: 1px solid var(--primary);
    aspect-ratio: 1/1;
    padding: spacing.$small;
}

.artist-card-title{
    @include text.text;
    @include flex.flex-row;
    justify-content: center;
    width: 100% !important;
    display: flex;
}

.artist-card-footer{
    @include text.subtitle;
    @include flex.flex-row;
    justify-content: center;
    width: 100% !important;
    display: flex;
}

.artist-card-image-wrapper{
    height: 80% !important;
    max-width: 100% !important;
}

.artist-card-image{
    height: 100%;
    width: 100%;
    object-fit: cover !important;
}
