@use "../root/spacing";
@use "../root/flex";
@use "../root/breakpoints";

.content-scroll{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: spacing.$normal;
    padding: 0 spacing.$normal spacing.$normal spacing.$normal;
    justify-content: space-between;

    @include breakpoints.mobile{
        overflow-y: unset !important;
    }
}

::-webkit-scrollbar {
    display: none;
}

.content-page-title{
    color: var(--secondary);
    font-size: var(--font-size-page-title);
    font-weight: 500;
    margin-bottom: spacing.$medium;
}

.content-footer-stack{
    @include flex.flex-col;
    border-top: 2px solid var(--primary);
    padding-top: spacing.$medium;
    margin-top: spacing.$normal;

    @include breakpoints.mobile{
        margin-bottom: 8vh !important;
    }
}

.content-footer-row{
    @include flex.flex-row;
    justify-content: center;
    align-items: center;
    padding: spacing.$medium;

    @include breakpoints.mobile{
        flex-direction: column !important;
        padding: 0;
    }
}

.content-footer-item{
    @include flex.flex-col;
    max-width: 20vw;
    margin-left: spacing.$medium;
    margin-right: spacing.$medium;

    @include breakpoints.tablet{
        max-width: 40vw;
    }

    @include breakpoints.mobile{
        max-width: 50vw;
    }
}

.content-footer-title{
    font-weight: bold;
}

.content-footer-link{
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}

.content-footer-divider{
    width: 1px;
    height: 80%;
    border-right: 2px solid var(--foreground);
    margin-left: spacing.$medium;
    margin-right: spacing.$medium;

    @include breakpoints.mobile{
        display: none;
    }
}

.content-divider{
    width: 100% !important;
    height: 1px;
    border-bottom: 1px solid var(--primary);
    margin-top: spacing.$small;
    margin-bottom: spacing.$extraLarge;
}
