@use "../root/spacing";
@use "../root/flex";

.content-scroll{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 spacing.$normal spacing.$normal spacing.$normal;
}

.content-page-title{
    color: var(--secondary);
    font-size: var(--font-size-page-title);
    font-weight: 500;
    margin-bottom: spacing.$medium;
}

.content-footer-stack{
    @include flex.flex-col;
    border-top: 2px solid var(--primary);
    padding-top: spacing.$medium;
    margin-top: spacing.$normal;
}

.content-footer-row{
    @include flex.flex-row;
    justify-content: center;
    align-items: center;
    padding: spacing.$medium;
}

.content-footer-item{
    @include flex.flex-col;
    max-width: 10vw;
    margin-left: spacing.$medium;
    margin-right: spacing.$medium;
}

.content-footer-title{
    font-weight: bold;
}

.content-footer-link{
    font-weight: bold;
    cursor: pointer;
}

.content-footer-divider{
    width: 1px;
    height: 80%;
    border-right: 2px solid var(--foreground);
    margin-left: spacing.$medium;
    margin-right: spacing.$medium;
}

.content-divider{
    width: 100% !important;
    height: 1px;
    border-bottom: 1px solid var(--primary);
    margin-top: spacing.$small;
    margin-bottom: spacing.$extraLarge;
}
