@use "../root/flex";
@use "../root/spacing";
@use "../root/text";
@use "../root/breakpoints";

.profile-stack{
    @include flex.flex-col;
    flex-grow: 1;

    @include breakpoints.mobile{
        max-width: 100%;
        width: 100%;
    }
}

.profile-row{
    @include flex.flex-row;

    @include breakpoints.mobile{
        flex-direction: column !important;
    }
}

.profile-image-stack{
    max-width: 40%;
    width: 40%;
    @include flex.flex-col;

    @include breakpoints.mobile{
        max-width: 100%;
        width: 100%;
    }
}

.profile-image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto auto 0;
    object-fit: cover;
}

.profile-image-resize{
    width: 100%;
    height: 92%;
}

.profile-content-stack{
    @include flex.flex-col;
    padding-left: spacing.$normal;
    width: 70%;
    max-width: 70%;
    height: 92%;
    max-height: 92%;

    @include breakpoints.mobile{
        max-width: 100%;
        width: 100%;
    }
}

.profile-header-bar{
    @include flex.flex-row-between;
}

.profile-socials-bar{
    @include flex.flex-row-right;
    align-items: center;
}

.profile-title-stack{
    @include flex.flex-col;
}

.profile-title{
    @include text.title;
}

.profile-subtitle{
    @include text.subtitle;
}

.profile-text{
    @include text.text;
}

.profile-grow{
    flex-grow: 1;
    @include flex.flex-col
}

.profile-text-divider{
    margin-top: spacing.$small;
    margin-bottom: spacing.$medium;
    width: 100% !important;
    height: 1px;
    border-bottom: 1px solid var(--foreground);
}

.profile-gallery-container{
    width: 100%;
    height: 40vh;
}
