@use "../root/basics";
@use "../root/flex";
@use "../root/spacing";

$tableHeight: 50vh;

.table-stack{
    @include flex.flex-col;
}

@mixin table-cell{
    padding: spacing.$small;
}

@mixin table-head{
    padding: spacing.$normal spacing.$small;
}

.table-main{

    >tbody {

        > tr{
            vertical-align: top;
            @include basics.bottom-primary-alpha-border;

            >td{
                @include table-cell;
            }
        }
    }
    >thead {

        position: sticky;
        top: 1px;
        background: var(--background-alpha);
        backdrop-filter: blur(15px);
        filter: drop-shadow(0px 1px 0px var(--primary));

        > tr{

            >th{
                @include table-head;
            }
        }
    }
}
