
$fontSizeNav: 1.2rem;
$fontSizePageTitle: 1.5rem;
$fontSizeTextTitle: 1.2rem;
$fontSizeTextSubtitle: 1rem;
$fontSizeText: 1.1rem;


:root {
    --font-size-nav: #{$fontSizeNav};
    --font-size-page-title: #{$fontSizePageTitle};
    --font-size-text-title: #{$fontSizeTextTitle};
    --font-size-text-subtitle: #{$fontSizeTextSubtitle};
    --font-size-text: #{$fontSizeText};
    /* color themes are in /public/asses/css/theme */
}

@mixin stretch {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

html, body {
    @include stretch;
    overflow: hidden;
    background: var(--background);
    color: var(--foreground);
}

.stack{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid{
    max-width: 2000px;
}

a {
    text-decoration: none !important;
    color: var(--foreground) !important;
}
