$theme: "fire";

$bg-lightning: #111111;
$fg-lightning: #ffffff;
$primary-lightning: #d90368;
$secondary-lightning: #8755dd;
$bg-lightning-alpha: #11111188;
$hover-lightning: #222222;

$bg-fire: #120200;
$primary-fire: #F25500;
$secondary-fire: #ea2300;
$hover-fire: #221220;

$fontSizeNav: 1.2rem;
$fontSizePageTitle: 1.5rem;
$fontSizeTextTitle: 1.3rem;
$fontSizeTextSubtitle: 1rem;
$fontSizeText: 1.2rem;


:root {
    --font-size-nav: #{$fontSizeNav};
    --font-size-page-title: #{$fontSizePageTitle};
    --font-size-text-title: #{$fontSizeTextTitle};
    --font-size-text-subtitle: #{$fontSizeTextSubtitle};
    --font-size-text: #{$fontSizeText};

    @if ($theme == "lightning") {
        --background: #{$bg-lightning};
        --background-alpha: #{$bg-lightning-alpha};
        --foreground: #{$fg-lightning};
        --primary: #{$primary-lightning};
        --secondary: #{$secondary-lightning};
        --banner-image: url(../img/background.png);
        --hover: #{$hover-lightning};
    }
    @if ($theme == "fire") {
        --background: #{$bg-fire};
        --background-alpha: #{$bg-lightning-alpha};
        --foreground: #{$fg-lightning};
        --primary: #{$primary-fire};
        --secondary: #{$secondary-fire};
        --banner-image: url(../img/peter-yost-ah9tydIdlKA-unsplash.jpg);
        --hover: #{$hover-fire};
    }
}

@mixin stretch {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

html, body {
    @include stretch;
    overflow: hidden;
    background: var(--background);
    color: var(--foreground);
}

.stack{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid{
    max-width: 2000px;
}

a {
    text-decoration: none !important;
    color: var(--foreground) !important;
}
