$theme: "lightning";

$bg-lightning: #111111;
$fg-lightning: #ffffff;
$primary-lightning: #d90368;
$secondary-lightning: #8755dd;

:root {
  @if($theme == "lightning"){
    --background: #{$bg-lightning};
    --foreground: #{$fg-lightning};
    --primary: #{$primary-lightning};
    --secondary: #{$secondary-lightning};
  }
  @if($theme == "fire"){
    
  }
}

@mixin stretch{
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

html, body{
  @include stretch;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  
}