@mixin title{
    color: var(--primary);
    font-size: var(--font-size-text-title);
    font-weight: 600;
}

@mixin subtitle{
    font-size: var(--font-size-text-subtitle);
}

@mixin text{
    font-size: var(--font-size-text);
}
