:required {
	border-color: rgba(5, 3, 134, 0.664) !important;
	border-width: 2px;
}

.deactivated{
	text-decoration: line-through;
	text-decoration-style: double;
	text-decoration-color: red;
}

.hidden{
	display: none;
}

.card-body pre{
	color:white;
}

@media screen {
	.onlyprint {
		display: none;
	}
}

@media print {
	.dontprint {
		display: none;
	}

	.card-title {
		font-weight: bold;
	}
}