.program-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: column;
}

.games-title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: large;
    color: var(--secondary-color);
    font-weight: 600;
}