@media screen and (max-width: 512px) {
    .blog-image {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .bio-image {
        float: none;
        min-width: 50vw;
        padding-bottom: 1rem;
    }

    .bio-reverser {
        display: flex;
        flex-direction: column-reverse;
    }
}

.main-title {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: x-large;
    color: var(--primary-color);
}

.blog-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blog-separator {
    height: 1px;
    background-color: var(--borders);
    margin-bottom: 1rem;
    width: 100%;
}

.blog-separator-large {
    height: 1px;
    background: var(--blend);
    margin-bottom: 1rem;
    width: 100%;
}

.blog-title-wrapper {
    display: flex;
    flex-direction: column;
}

.blog-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.blog-image {
    width: 30%;
    object-fit: contain;
}

.blog-image>img {
    width: 100%;
}

.blog-title {
    font-weight: 600;
    font-size: larger;
    color: var(--secondary-color);
}

.blog-subtitle {
    font-size: small;
}