@media screen and (max-width: 400px) {
    .icon-border {
        height: 60% !important;
    }
}

@media screen and (max-width: 992px) {
    .dreieichcon-header {
        display: none;
    }

    .socials-bar {
        justify-content: space-between;
        width: 100%;
        padding: 1vw !important;
    }

    .icon-border::after {
        background: var(--blend);
    }

    .icon-border:hover {
        filter: none !important;
    }
}

@media screen and (min-width: 992px) {

    .socials-bar {
        justify-content: space-between;
        padding: 0 !important;
    }

    .hamburger {
        display: none !important;
    }

    .icon-border::after {
        background: var(--blend-right);
    }
}

.socials-bar {
    height: 7%;
    display: flex;
    flex-direction: row;

    align-items: center;
    border-bottom: 2px solid;
    border-width: 3px;
    margin: 0 0 2px 0 !important;
    padding: 0 !important;
}

.bar-icons {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-clip: content-box;
}

.dreieichcon-header {
    font-family: Garamond Bold;
    font-size: 2vw;
}

@media (prefers-color-scheme: dark) {
    .socials-icon {
        filter: invert();
    }
}

.socials-icon {
    height: 60%;
    aspect-ratio: 1 / 1;
    z-index: 10;
    width: 100%;
}

.icon-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-border:hover {
    filter: var(--hover);
}

.icon-border {
    height: 70%;
    margin: 0 0.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.icon-border::after {
    width: 120%;
    height: 120%;
    border-radius: 30%;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    /* background: var(--blend-right); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    top: -10%;
    left: -10%;
}

.icon-border::before {
    aspect-ratio: 1 / 1;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    background: var(--background-color);
    z-index: 5;
    top: 5%;
    left: 5%;
}